<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.gyojincompany.mybatis.board.dao.BoardDao">
	
	<select id="listDao" resultType="com.gyojincompany.mybatis.board.dto.BoardDto">
		SELECT * FROM my_board ORDER BY bnum DESC
	</select>
	
	<insert id="writeDao">
		INSERT INTO my_board(bnum, bid, btitle, bcontent, bhit) VALUES(my_board_seq.nextval, #{param1}, #{param2}, #{param3}, 0)
	</insert>
	
	<select id="contentViewDao" resultType="com.gyojincompany.mybatis.board.dto.BoardDto">
		SELECT * FROM my_board WHERE bnum = #{param1}
	</select>
	
	<update id="contentModifyDao">
		UPDATE my_board SET btitle=#{param2}, bcontent=#{param3} WHERE bnum=#{param1}
	</update>

</mapper>    